In [1]:
import pandas

In [2]:
df1=pandas.DataFrame([[1,2,3,4],[21,22,20,23]])

In [3]:
df1

    0   1   2   3
0   1   2   3   4
1  21  22  20  23

In [5]:
df1=pandas.read_csv("test1.csv")

In [6]:
df1

        date_time  temperature  min_temp  max_temp
0  4/29/2020 0:00           20        20        22
1  4/29/2020 0:01           21        20        22

In [7]:
df2=pandas.read_csv("test2.csv")

In [8]:
df2

       date_time  temperature  min_temp  max_temp
0  5/1/2020 0:00           23        20        23
1  5/1/2020 0:01           23        20        23

In [11]:
df3=df1.append(df2,ignore_index=True)

In [12]:
df3

        date_time  temperature  min_temp  max_temp
0  4/29/2020 0:00           20        20        22
1  4/29/2020 0:01           21        20        22
2   5/1/2020 0:00           23        20        23
3   5/1/2020 0:01           23        20        23